.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table
{
  padding: 5%;
  margin: auto;
  border-collapse: collapse; 
  
}

thead
{
  background-color: rgb(65, 78, 80);
  padding: 5%;
  font-size: 150%;
  color:beige;
  
}

th
{
  border: 1px solid rgb(255, 255, 255);
  /* border-bottom: .5px solid rgb(138, 132, 132); */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
} 


td {
  border: .5px solid rgb(138, 132, 132);  
  padding: 15px;
}

h1
{
  color: #3c4e74;  
}

button
{
  background-color: rgb(65, 78, 80);
  border: none;
  color: beige;
  padding: 15%;
  text-align: center;  
  font-size: 16px;
  border-radius: 5px;
}

button:hover
{
  background-color:#dcdd8b;
}